.button {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @base_green;
  color: #ffffff;
  padding: 11px;
  box-sizing: border-box;

  &:hover {
    background-color: @base_green-hover;
  }
  // &:active {
  //   color: fade(#ffffff, 30%);
  // }
}
