.demo {
  background-color: #eaeaea;
}

.demo-wrapper {
  padding-top: 25px;
  padding-bottom: 40px;
}

.demo__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.demo__description {
  .base-text();
}

.demo__stat {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 35px;
}

.stat__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  padding: 15px 20px 0 20px;
}

.stat__item-term {
  .special-text(24px; 24px);
}

.stat__item-definition {
  .base-text();
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: -20px;
  background: #eaeaea;
}

.demo__expenses {
  .special-text(14px; 20px);
  text-align: center;
}

.demo__image {
  height: 232px;
  max-height: 232px;
  overflow: hidden;
  margin-top: 40px;
}

.demo__image-before,
.demo__image-after {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.demo__image--show {
  display: block;
}


.demo__image-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.image-control {
  display: flex;
  align-items: center;
}

.image-control__btn {
  .special-text(16px; 20px);
  margin: 0 20px;
  border: none;
  background: none;
}

.image-control__scrollbar {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
  min-width: 86px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &--active {
    justify-content: flex-end;
  }
}

.image-control__scrollbar-toggle {
  min-width: 35px;
  max-width: 35px;
  height: 6px;
  background: @base_green;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
