.footer {
  background-color: @color_gray;
}

.footer__wrapper {
  padding-top: 38px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 59px;
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-top: 5px;
  }
}

.footer__socials {
  margin-top: 26px;
  margin-bottom: 22px;
  padding: 21px 0 22px 0;

  @media (min-width: @tablet-width) {
    margin: -3px 8px 0 0;
    padding: 0;
  }
}

// SITE DEVELOP

.footer__site-develop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.footer__site-develop-name {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-right: 24px;
  }
}

.footer__site-develop-logo {
  width: 27px;
  height: 34px;
  object-fit: contain;
  fill: #666666;
}

.footer__site-develop:hover .footer__site-develop-logo {
  fill: @color_green;
}

.footer__site-develop:active .footer__site-develop-logo {
  fill: fade(@color_green, 30%);
}
