.footer {
  background-color: @color_gray;
}

.footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.footer__socials {
  margin-top: 25px;
  margin-bottom: 22px;
  padding: 21px 0 22px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

// SITE DEVELOP

.footer__site-develop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: auto;
    justify-content: flex-end;
  }
}

.footer__site-develop-name {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}

.footer__site-develop-logo {
  width: 27px;
  height: 34px;
  object-fit: contain;
}
