.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
  padding-bottom: 11px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.header__logo {
  width: max-content;
}
