.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  left: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 16px;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.nav--closed .nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.nav--opened .nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.nav__item {
  padding-top: 23px;
  padding-bottom: 19px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 8px;
    border-top: none;
  }

  &--current {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid #68b738;
    }

    @media (min-width: @desktop-width) {
      border-bottom: 2px solid #68b738;
    }
  }
}

.nav__list--with-background .nav__item {
  @media (min-width: @desktop-width) {
    &--current {
      @media (min-width: @tablet-width) {
        border-bottom: 2px solid #ffffff;
      }

      @media (min-width: @desktop-width) {
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}

.nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  @color-link: #000000;
  color: @color-link;

  &:hover {
    color: fade(@color-link, 60%);
  }

  &:active {
    color: fade(@color-link, 30%);
  }

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.nav__list--with-background .nav__link {
  @media (min-width: @desktop-width) {
    @color-link: #ffffff;
    color: @color-link;

    &:hover {
      color: fade(@color-link, 60%);
    }

    &:active {
      color: fade(@color-link, 30%);
    }
  }
}

.nav__item--current .nav__link {
  &:hover,
  &:active {
    color: #000000;
  }
}

.nav__list--with-background .nav__item--current .nav__link {
  @media (min-width: @desktop-width) {
    &:hover,
    &:active {
      color: #ffffff;
    }
  }
}

.nav__toggle {
  width: 24px;
  height: 17.5px;
  position: absolute;
  top: 23px;
  right: 19px;
  border: none;
  background: transparent;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
    position: relative;
    top: -12px;
    left: -7px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  background: url("../img/icons/close.png") no-repeat center;
  background-position: 2px 0;
  background-size: contain;

  &::before {
    display: none;
  }
}

.nav--nojs {
  @media (max-width: @mobile-width-only) {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -10px;
  }
}

.nav--nojs .nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
    position: relative;
  }
}

.nav--nojs .nav__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
