@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  margin: 0;
  min-width: 320px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
  }
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }
}
.header__logo {
  width: max-content;
}
.nav {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .nav {
    margin-top: 0;
  }
}
.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  left: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 34px;
  }
}
@media (min-width: 1440px) {
  .nav__list {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .nav--closed .nav__list {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav--opened .nav__list {
    display: block;
  }
}
.nav__item {
  padding-top: 22px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .nav__item {
    padding-top: 0;
    padding-bottom: 8px;
    border-top: none;
  }
}
@media (min-width: 768px) {
  .nav__item--current {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .nav__item--current {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .nav__list--with-background .nav__item--current {
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .nav__list--with-background .nav__item--current {
    border-bottom: 2px solid #ffffff;
  }
}
.nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}
.nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}
@media (min-width: 1440px) {
  .nav__link {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .nav__list--with-background .nav__link {
    color: #ffffff;
  }
  .nav__list--with-background .nav__link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .nav__list--with-background .nav__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.nav__item--current .nav__link:hover,
.nav__item--current .nav__link:active {
  color: #000000;
}
@media (min-width: 1440px) {
  .nav__list--with-background .nav__item--current .nav__link:hover,
  .nav__list--with-background .nav__item--current .nav__link:active {
    color: #ffffff;
  }
}
.nav__toggle {
  width: 24px;
  height: 17.5px;
  position: absolute;
  top: 25px;
  right: 27px;
  border: none;
  background: transparent;
}
.nav__toggle::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  position: relative;
  top: -12px;
  left: -7px;
}
.nav__toggle--active {
  background: url("../img/icons/close.png") no-repeat center;
  background-size: contain;
}
.nav__toggle--active::before {
  display: none;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav--nojs {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -10px;
  }
}
@media (max-width: 767px) {
  .nav--nojs .nav__list {
    display: block;
    position: relative;
  }
}
@media (max-width: 767px) {
  .nav--nojs .nav__toggle {
    display: none;
  }
}
.page-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 60px;
    line-height: 1;
  }
}
.section-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1;
  }
}
.split-title {
  display: flex;
  align-items: center;
}
.split-title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #68b738;
}
.split-title__text {
  padding-right: 20px;
  padding-left: 30px;
  margin-left: -30px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .split-title__text {
    padding: 0 40px;
    margin-left: -40px;
  }
}
.button {
  display: block;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: #68B738;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #5EAA2F;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--gray {
  background-color: #F2F2F2;
  color: #444444;
}
.button--gray:hover {
  background-color: #ebebeb;
}
.button--gray:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 1;
    padding: 14px 26px;
  }
}
.contacts {
  position: relative;
}
@media (min-width: 1440px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.contacts___description-wrapper {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .contacts___description-wrapper {
    position: absolute;
    width: 100%;
    background: transparent;
  }
}
.contacts--gray .contacts___description-wrapper {
  background-color: #F2F2F2;
}
@media (min-width: 1440px) {
  .contacts--gray .contacts___description-wrapper {
    background-color: transparent;
  }
}
.contacts___description {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts___description {
    padding: 55px 40px;
  }
}
@media (min-width: 1440px) {
  .contacts___description {
    padding: 56px 80px;
    justify-content: flex-start;
    column-gap: 87px;
    max-width: 565px;
    background-color: #ffffff;
  }
}
.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 1.3;
  }
}
.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 768px) {
  .contacts__address span {
    display: inline-block;
    padding-top: 20px;
  }
}
.map {
  display: block;
  width: 100%;
  height: 362px;
  border: 0;
}
@media (min-width: 768px) {
  .map {
    height: 400px;
  }
}
.footer {
  background-color: #F2F2F2;
}
.footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding-top: 58px;
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
.footer__logo {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__logo {
    text-align: left;
  }
}
.footer__socials {
  margin-top: 32px;
  margin-bottom: 22px;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .footer__socials {
    margin: 0;
    padding: 0;
  }
}
.footer__site-develop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__site-develop {
    width: auto;
    justify-content: flex-end;
  }
}
.footer__site-develop-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  color: #444444;
}
@media (min-width: 768px) {
  .footer__site-develop-name {
    margin-right: 22px;
  }
}
.footer__site-develop-logo {
  width: 27px;
  height: 34px;
  object-fit: contain;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  column-gap: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .socials {
    border: none;
  }
}
.socials__link {
  display: block;
  width: 28px;
  height: 22px;
}
.socials__link--icon-vk {
  background: url("../img/socials/vk.svg") no-repeat center;
  background-size: contain;
}
.socials__link--icon-youtube {
  background: url("../img/socials/youtube.svg") no-repeat center;
  background-size: contain;
}
.socials__link--icon-telegram {
  background: url("../img/socials/telegram.svg") no-repeat center;
  background-size: contain;
}
@media (min-width: 1440px) {
  .main-page {
    position: relative;
  }
  .main-page::after {
    content: "";
    width: 50%;
    height: 694px;
    background: url("../img/index/bg-mainscreen.jpg") no-repeat top;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .main-page::after {
    background: url("../img/index/bg-mainscreen@2x.jpg") no-repeat top;
    background-size: 100% auto;
  }
}
.mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background: url("../img/index/bg-mainscreen-mobile.jpg") no-repeat top;
  background-size: 100%;
  padding-bottom: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .mainscreen {
    background: url("../img/index/bg-mainscreen-mobile@2x.jpg") no-repeat top;
    background-size: 100%;
  }
}
@media (min-width: 768px) {
  .mainscreen {
    background: none;
    align-items: flex-start;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .mainscreen {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 55px;
    margin-bottom: 82px;
  }
}
.mainscreen__wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .mainscreen__wrapper {
    padding-left: 90px;
  }
}
@media (min-width: 1440px) {
  .mainscreen__wrapper {
    width: auto;
    padding-left: 70px;
  }
}
.mainscreen__caption {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .mainscreen__caption {
    padding-top: 41px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 1;
  }
}
.mainscreen__title {
  padding-top: 27px;
}
@media (min-width: 768px) {
  .mainscreen__title {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .mainscreen__title {
    padding-top: 95px;
  }
}
.mainscreen__title,
.mainscreen__caption {
  color: #ffffff;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .mainscreen__title,
  .mainscreen__caption {
    color: #000000;
    text-align: left;
  }
}
.mainscreen__title br {
  display: none;
}
@media (min-width: 768px) {
  .mainscreen__title br {
    display: block;
  }
}
.mainscreen__img {
  width: 280px;
  height: 270px;
}
@media (min-width: 768px) {
  .mainscreen__img {
    width: 709px;
    height: 609px;
    margin-top: -88px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .mainscreen__img {
    width: 552px;
    height: 500px;
    margin-top: 20px;
  }
}
.mainscreen__img img {
  width: 100%;
}
.mainscreen__button {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  .mainscreen__button {
    position: relative;
    width: max-content;
    margin: 0;
  }
}
.features__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1440px) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.features__item {
  padding: 30px 33px 22px 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .features__item {
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1440px) {
  .features__item {
    padding: 77px 51px 59px 52px;
  }
}
.features__item--weight-loss {
  background: url("../img/features/cat_back.svg") no-repeat #F2F2F2;
  background-position: 22px 21px;
}
@media (min-width: 768px) {
  .features__item--weight-loss {
    background-size: 200px 211px;
    background-position: 90%;
  }
}
@media (min-width: 1440px) {
  .features__item--weight-loss {
    background-size: 100px 106px;
    background-position: 52px 41px;
  }
}
.features__item--mass-gain {
  background: url("../img/features/cat_back_2.svg") no-repeat #F2F2F2;
  background-position: 13px 24px;
}
@media (min-width: 768px) {
  .features__item--mass-gain {
    background-size: 268px 200px;
    background-position: 95%;
  }
}
@media (min-width: 1440px) {
  .features__item--mass-gain {
    background-size: 134px 100px;
    background-position: 33px 47px;
  }
}
.features__name {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
}
@media (min-width: 768px) {
  .features__name {
    font-size: 36px;
    line-height: 1;
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .features__name {
    padding-left: 162px;
  }
}
.features__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .features__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .features__description {
    margin-top: 73px;
  }
}
.features__link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #d9d9d9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}
.features__link::after {
  content: "";
  background: url("../img/icons/arrow_right.svg") no-repeat center;
  background-size: cover;
  width: 24px;
  height: 12px;
  margin-left: 15px;
}
.features__link:hover::after,
.features__link:active::after {
  width: 32px;
  height: 12px;
}
.features__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .features__link {
    font-size: 20px;
    line-height: 1.5;
    border-top: none;
    padding-top: 0;
  }
  .features__link::after {
    margin-left: 25px;
  }
}
@media (min-width: 1440px) {
  .features__link::after {
    margin-left: 28px;
  }
}
.work-example {
  padding-top: 20px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .work-example {
    padding-top: 45px;
    padding-bottom: 47px;
  }
}
@media (min-width: 1440px) {
  .work-example {
    padding-top: 71px;
  }
}
.work-example__list {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
  list-style-type: none;
  counter-reset: section;
}
@media (min-width: 768px) {
  .work-example__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .work-example__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 95px;
    row-gap: 0;
  }
}
.work-example__item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}
.work-example__item:not(:last-child) {
  margin-bottom: 20px;
}
.work-example__item::before {
  display: grid;
  place-items: center;
  min-width: 60px;
  min-height: 60px;
  background-color: #68B738;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .work-example__item::before {
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 31px;
  }
}
@media (min-width: 768px) {
  .work-example__item {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 38px;
    padding-bottom: 84px;
    font-size: 16px;
    line-height: 1.35;
  }
  .work-example__item:not(:last-child) {
    margin-bottom: 0;
  }
  .work-example__item::after {
    counter-increment: section;
    content: counter(section);
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 1;
    color: #F2F2F2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .work-example__item {
    padding-bottom: 63px;
  }
}
.work-example__item--icon-ecology::before {
  content: url("../img/work-example/leaf.svg");
}
.work-example__item--icon-release::before {
  content: url("../img/work-example/tub.svg");
}
.work-example__item--icon-food::before {
  content: url("../img/work-example/eat.svg");
}
.work-example__item--icon-result::before {
  content: url("../img/work-example/alarm.svg");
}
.demo {
  padding-top: 25px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .demo {
    padding-top: 43px;
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .demo {
    border-top: none;
    padding-top: 0;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .demo__title {
    padding-top: 43px;
    background-color: #ffffff;
    padding-bottom: 76px;
  }
}
.demo__description {
  padding-bottom: 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .demo__description {
    padding-bottom: 250px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .demo__description {
    background-color: transparent;
    padding-bottom: 75px;
  }
}
.demo__comparison {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .demo__comparison {
    background-color: #eaeaea;
    padding-bottom: 56px;
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media (min-width: 1440px) {
  .demo__comparison {
    background-color: transparent;
    margin: 0;
    padding-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .demo__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
  }
}
.demo__text {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}
@media (min-width: 768px) {
  .demo__text {
    padding-top: 63px;
    padding-bottom: 54px;
    font-size: 16px;
    line-height: 1.5;
    color: #444444;
  }
}
@media (min-width: 1440px) {
  .demo__text {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .demo__stat-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .demo__stat-wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 55px;
  }
}
.demo__stat {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .demo__stat {
    margin-bottom: 0;
  }
}
.demo__expenses {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .demo__expenses {
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }
}
@media (min-width: 768px) {
  .demo__expenses span {
    display: block;
  }
}
@media (min-width: 1440px) {
  .demo__expenses span {
    display: inline-block;
    padding-left: 63px;
  }
}
.comparison__image-container {
  height: 232px;
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  .comparison__image-container {
    height: 511px;
    margin-top: -170px;
  }
}
@media (min-width: 1440px) {
  .comparison__image-container {
    margin-top: -182px;
  }
}
.comparison__control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.comparison__control-btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 0;
  border: none;
  background: none;
}
@media (min-width: 768px) {
  .comparison__control-btn {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  }
  .comparison__control-btn:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .comparison__control-btn:active {
    border: none;
  }
}
.comparison__control-scrollbar {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 3px 5px;
  min-width: 86px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.comparison__control-scrollbar--active {
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .comparison__control-scrollbar {
    padding: 0;
    height: 6px;
    min-width: 426px;
    border: none;
    background: #dcdcdc;
    border-radius: 6px;
    display: flex;
  }
}
.comparison__control-toggle {
  min-width: 35px;
  max-width: 35px;
  height: 6px;
  background: #68B738;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .comparison__control-toggle {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    filter: drop-shadow(0 1px 3px #00000029);
    display: grid;
    place-items: center;
  }
  .comparison__control-toggle::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: #68B738;
  }
  .comparison__control-toggle:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }
  .comparison__control-toggle:active {
    border-color: #68B738;
  }
}
.stat__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  padding: 15px 20px 15px 20px;
}
@media (min-width: 768px) {
  .stat__item {
    padding-bottom: 20px;
  }
}
.stat__item-term {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .stat__item-term {
    font-size: 30px;
    line-height: 1.23;
  }
}
.stat__item-definition {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: -25px;
  background: #eaeaea;
  padding: 0 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .stat__item-definition {
    font-size: 14px;
    line-height: 1;
    background: #ffffff;
    padding: 0 10px;
  }
}
@media (min-width: 1440px) {
  .stat__item-definition {
    background: #eaeaea;
  }
}
.catalog-page .split-title {
  padding-top: 25px;
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  .catalog-page .split-title {
    padding-top: 68px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .catalog-page .split-title {
    padding-top: 76px;
    padding-bottom: 81px;
  }
}
@media (max-width: 767px) {
  .catalog {
    border-top: 1px solid #d9d9d9;
  }
}
.catalog__title {
  padding-top: 27px;
  padding-bottom: 41px;
}
.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
    align-items: stretch;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}
@media (max-width: 767px) {
  .catalog__item {
    padding-top: 19px;
    padding-bottom: 24px;
  }
  .catalog__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin-top: -20px;
  }
}
@media (min-width: 768px) {
  .catalog__item {
    padding-top: 73px;
  }
}
@media (max-width: 767px) {
  .catalog__item:last-child {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .catalog__item:last-child::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 20px;
  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .product {
    grid-template-columns: 1fr;
    row-gap: 33px;
    padding: 39px 36px;
    background: #F2F2F2;
  }
}
@media (min-width: 1440px) {
  .product {
    row-gap: 0;
  }
}
.product__img-wrapper {
  display: grid;
  place-items: center;
  padding: 12px 36px 12px 36px;
}
@media (min-width: 768px) {
  .product__img-wrapper {
    padding: 0;
    margin-top: -84px;
  }
}
.product--large .product__img-wrapper {
  padding: 11px 28px 0 28px;
}
@media (min-width: 768px) {
  .product--large .product__img-wrapper {
    padding: 0;
    margin-top: -118px;
  }
}
.product__img {
  width: 68px;
  height: 86px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .product__img {
    width: 161px;
    height: 172px;
  }
}
.product--large .product__img {
  width: 84px;
  height: 101px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .product--large .product__img {
    width: 168px;
    height: 207px;
  }
}
@media (min-width: 1440px) {
  .product--large .product__img {
    width: 172px;
    height: 196px;
  }
}
@media (min-width: 1440px) {
  .product__description {
    padding-top: 46px;
    padding-bottom: 33px;
  }
}
.product__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .product__name {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .product__name {
    line-height: 21px;
  }
}
@media (min-width: 768px) {
  .product__name br {
    display: block;
  }
}
.product__properties {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}
@media (min-width: 768px) {
  .product__properties {
    font-size: 16px;
    line-height: 1;
  }
}
.product__properties-item {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .product__properties-item {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (max-width: 767px) {
  .product__order {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.catalog-more {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
@media (min-width: 768px) {
  .catalog-more {
    padding: 39px 36px;
    border: 2px solid #F2F2F2;
    justify-content: space-between;
    height: 100%;
  }
}
.catalog-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 8px;
}
.catalog-more__title::before {
  content: "";
  background: url("../img/icons/plus.svg") no-repeat center;
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .catalog-more__title::before {
    width: 60px;
    height: 60px;
    margin-top: 13px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .catalog-more__title {
    font-size: 20px;
    line-height: 1.1;
  }
}
.catalog-more__caption {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-more__caption {
    font-size: 16px;
    line-height: 1.12;
  }
}
.catalog-more__button {
  margin-top: 21px;
  width: 100%;
}
@media (min-width: 1440px) {
  .catalog-additional__wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 80px;
    margin-top: 45px;
    margin-bottom: 86px;
  }
}
.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-additional__item {
  padding-top: 12px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}
.catalog-additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .catalog-additional__item {
    padding: 0;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__item {
    padding-top: 15px;
    padding-bottom: 17px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
  .catalog-additional__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
.catalog-additional .product {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-additional .product {
    padding-top: 26px;
    padding-bottom: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    align-items: center;
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .catalog-additional .product {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 38px;
  }
}
@media (min-width: 768px) {
  .catalog-additional .product__name {
    text-align: left;
  }
}
.catalog-additional .product__properties {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-additional .product__properties {
    justify-content: flex-end;
    column-gap: 49px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 1440px) {
  .catalog-additional .product__properties {
    max-width: 288px;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .catalog-additional .product__order {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.cta {
  display: grid;
  place-items: center;
  background: url("../img/cta/bg-cta-mobile.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 35px 0;
  height: 290px;
  padding: 59px 58px 43px 58px;
}
.cta::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .cta {
    background: url("../img/cta/bg-cta-mobile@2x.jpg") no-repeat center;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .cta {
    background: url("../img/cta/bg-cta-tablet.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
    padding: 57px 124px 60px 77px;
    margin-top: 69px;
    margin-bottom: 76px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .cta {
    background: url("../img/cta/bg-cta-tablet@2x.jpg") no-repeat center;
    background-size: cover;
  }
}
@media (min-width: 1440px) {
  .cta {
    background: url("../img/cta/bg-cta-mobile.jpg") no-repeat center;
    background-size: cover;
    height: 290px;
    padding: 56px 41px 42px 41px;
    max-width: 245px;
    margin: 0;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .cta {
    background: url("../img/cta/bg-cta-mobile@2x.jpg") no-repeat center;
    background-size: cover;
  }
}
.cta__text-wrapper {
  position: relative;
  text-align: center;
  margin: 0;
}
.cta__text-wrapper::before {
  content: url("../img/cta/cta-icon.svg");
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cta__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
  .cta__text-wrapper::before {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .cta__text-wrapper {
    display: block;
  }
  .cta__text-wrapper::before {
    margin: 0 auto;
  }
}
.cta__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-top: 48px;
}
@media (min-width: 768px) {
  .cta__text {
    max-width: 160px;
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .cta__text {
    max-width: initial;
    padding-top: 46px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .form {
    border-top: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .form.container {
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form.container {
    padding: 0;
  }
}
.form__title {
  padding-top: 27px;
  padding-bottom: 37px;
}
.form__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__description {
    font-size: 20px;
    line-height: 1.5;
  }
}
.form abbr {
  text-decoration: none;
}
.form legend {
  width: 100%;
}
.form__fieldset {
  padding: 0;
  border: none;
}
.form__main {
  padding-top: 39px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (min-width: 768px) {
  .form__main {
    padding-top: 66px;
    padding-bottom: 75px;
    row-gap: 72px;
  }
}
@media (min-width: 1440px) {
  .form__main {
    padding-bottom: 69px;
    row-gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.form__group {
  display: flex;
  align-items: center;
  margin: 0;
}
.form__group:not(:first-child) {
  margin-top: 14px;
}
@media (min-width: 768px) {
  .form__group:not(:first-child) {
    margin-top: 20px;
  }
}
.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
  padding-right: 15px;
  white-space: nowrap;
  position: relative;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    line-height: 1.5;
  }
}
.form__input,
.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px 14px;
  width: 100%;
}
.form__input:hover,
.form__textarea:hover {
  border-color: #cdcdcd;
}
.form__input:focus,
.form__textarea:focus {
  border-color: #444444;
  box-shadow: 0 0 0 1px #444444;
  outline: none;
}
@media (min-width: 768px) {
  .form__input,
  .form__textarea {
    font-size: 20px;
    line-height: 1.5;
    padding: 11px 19px;
  }
}
.form__input::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__textarea::-moz-placeholder,
.form__input:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder,
.form__input:-moz-placeholder,
.form__textarea:-moz-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__input::-webkit-input-placeholder,
  .form__textarea::-webkit-input-placeholder,
  .form__input::-moz-placeholder,
  .form__textarea::-moz-placeholder,
  .form__input:-ms-input-placeholder,
  .form__textarea:-ms-input-placeholder,
  .form__input:-moz-placeholder,
  .form__textarea:-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__textarea {
  resize: none;
  height: 150px;
}
@media (min-width: 768px) {
  .form__textarea {
    height: 174px;
  }
}
@media (max-width: 767px) {
  .form__fieldset-radio {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form__fieldset-radio::before,
  .form__fieldset-radio::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
  }
  .form__fieldset-radio::before {
    margin-top: -20px;
  }
  .form__fieldset-radio::after {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .form__fieldset-radio {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
}
.form__fieldset-radio .form__group:not(:first-child) {
  margin-top: 13px;
}
.form__radio {
  display: none;
}
.form__radio + .form__label {
  cursor: pointer;
  color: #222222;
}
.form__radio + .form__label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .form__radio + .form__label::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.form__label:hover::before {
  border: 1px solid #bababa;
}
.form__radio:checked + .form__label::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background-color: #68B738;
  position: absolute;
  left: 8px;
  top: 8px;
}
@media (min-width: 768px) {
  .form__radio:checked + .form__label::after {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 11px;
  }
}
.form__checkbox {
  display: none;
}
.form__checkbox + .form__label {
  cursor: pointer;
  color: #000000;
}
.form__checkbox + .form__label::before {
  content: "";
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .form__checkbox + .form__label::before {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}
.form__checkbox:checked + .form__label::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/check.svg") no-repeat center;
  background-size: 60%;
}
.form__additional {
  padding-top: 34px;
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .form__additional {
    padding-top: 57px;
    padding-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }
}
@media (min-width: 1440px) {
  .form__additional {
    padding-bottom: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 81px;
  }
}
.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .form__submit-wrapper {
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 61px;
  }
}
@media (min-width: 1440px) {
  .form__submit-wrapper {
    padding-bottom: 82px;
    column-gap: 80px;
  }
}
.form__submit {
  width: 100%;
}
@media (min-width: 768px) {
  .form__submit {
    font-size: 16px;
    line-height: 1;
    max-width: 282px;
  }
}
@media (min-width: 1440px) {
  .form__submit {
    font-size: 16px;
    line-height: 1;
    max-width: 568px;
  }
}
.form__caption {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}
@media (min-width: 768px) {
  .form__caption {
    font-size: 16px;
    line-height: 1;
  }
}
.form__contacts {
  padding-top: 35px;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .form__contacts {
    padding-top: 76px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__contacts {
    padding-bottom: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.form__comments {
  padding-top: 38px;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .form__comments {
    padding-top: 76px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__comments {
    padding-bottom: 67px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
