@base_green: #68B738;
@base_green-hover: #5EAA2F;

.text (@font; @size; @height; @color: #000000) {
  font-family: @font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: @size;
  line-height: @height;
  color: @color;
}

.page-title {
  .text("Oswald"; 36px; 36px; );
}

.special-text(@size, @height) {
  .text("Oswald"; @size; @height);
  text-transform: uppercase;
}

.base-text() {
  .text("Arial"; 14px; 20px; #444444);
}

.container {
  padding: 0 20px;
}

.button {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @base_green;
  color: #ffffff;
  padding: 11px;
  box-sizing: border-box;

  &:hover {
    background-color: @base_green-hover;
  }
  // &:active {
  //   color: fade(#ffffff, 30%);
  // }
}
