.image-control {
  display: flex;
  align-items: center;
}

.image-control__btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 0;
  border: none;
  background: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.image-control__scrollbar {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 3px 5px;
  min-width: 86px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &--active {
    justify-content: flex-end;
  }
}

.image-control__scrollbar-toggle {
  min-width: 35px;
  max-width: 35px;
  height: 6px;
  background: @color_green;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
