.mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background: url("../img/index/bg-mainscreen-mobile.jpg") no-repeat top;
  background-size: 100%;
  padding-bottom: 40px;

  @media (min-resolution: 2dppx) {
    background: url("../img/index/bg-mainscreen-mobile@2x.jpg") no-repeat top;
    background-size: 100%;
  }


  @media (min-width: @tablet-width) {
    background: none;
    align-items: flex-start;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 55px;
    margin-bottom: 82px;
  }
}

.mainscreen__wrapper {
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-left: 88px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 70px;
  }
}

.mainscreen__caption {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 1;
  }
}

.mainscreen__title {
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 95px;
  }
}

.mainscreen__title,
.mainscreen__caption {
  color: #ffffff;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    color: #000000;
    text-align: left;
  }
}

.mainscreen__title br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.mainscreen__img {
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 609px;
    margin-top: -83px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 500px;
    margin-top: 20px;
  }
}

.mainscreen__img img {
  width: 100%;
}

.mainscreen__button {
  width: calc(100% - 40px);
  position: absolute;
  bottom: -2px;
  font-size: 14px;
  line-height: 1.28;

  @media (min-width: @tablet-width) {
    position: relative;
    width: max-content;
    margin: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 1;
    padding: 17px 28px;
    left: 2px;
  }
}
