.work-example__list {
  padding: 0;
  margin: 40px 0;
  list-style-type: none;
  counter-reset: section;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 95px;
    row-gap: 0;
  }
}

.work-example__item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  .base-text();
  font-size: 14px;
  line-height: 1.35;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    display: grid;
    place-items: center;
    min-width: 60px;
    min-height: 60px;
    background-color: @color_green;
    margin-right: 20px;

    @media (min-width: @tablet-width) {
      margin-top: 40px;
      margin-right: 0;
      margin-bottom: 31px;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 38px;
    padding-bottom: 84px;
    font-size: 16px;
    line-height: 1.35;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::after {
      counter-increment: section;
      content: counter(section);
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 280px;
      line-height: 1;
      color: @color_gray;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 63px;
  }

  &--icon-ecology::before {
    content: url("../img/work-example/leaf.svg");
  }

  &--icon-release::before {
    content: url("../img/work-example/tub.svg");
  }

  &--icon-food::before {
    content: url("../img/work-example/eat.svg");
  }

  &--icon-result::before {
    content: url("../img/work-example/alarm.svg");
  }
}
