.form {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }
}

.form.container {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__title {
  padding-top: 27px;
  padding-bottom: 37px;
}

.form__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form abbr {
  text-decoration: none;
}

.form legend {
  width: 100%;
}

.form__fieldset {
  padding: 0;
  border: none;
  // padding-top: 76px;
  // padding-bottom: 67px;
  // border: 1px solid rgb(29, 138, 49);
}

.form__main {
  padding-top: 39px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media (min-width: @tablet-width) {
    padding-top: 66px;
    padding-bottom: 75px;
    row-gap: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 69px;
    row-gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

// GROUP

.form__group {
  display: flex;
  align-items: center;
  margin: 0;

  &:not(:first-child) {
    margin-top: 14px;
  }

  @media (min-width: @tablet-width) {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

// LABEL

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
  padding-right: 15px;
  white-space: nowrap;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

// INPUT

.form__input,
.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px 14px;
  width: 100%;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    box-shadow: 0 0 0 1px #444444;
    outline: none;
  }

  &:invalid {
    // box-shadow: 0 0 0 2px #ff8282;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding: 11px 19px;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: #444444;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__textarea {
  resize: none;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 174px;
  }
}

// RADIO

.form__fieldset-radio {
  @media (max-width: @mobile-width-only) {
    padding-top: 20px;
    padding-bottom: 20px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #d9d9d9;
    }

    &::before {
      margin-top: -20px;
    }

    &::after {
      margin-top: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
}

.form__fieldset-radio .form__group {
  &:not(:first-child) {
    margin-top: 13px;
  }
}

.form__radio {
  display: none;
}

.form__radio + .form__label {
  cursor: pointer;
  color: #222222;
}

.form__radio + .form__label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.form__label:hover::before {
  border: 1px solid #bababa;
}

.form__radio:checked + .form__label::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background-color: @color_green;
  position: absolute;
  left: 8px;
  top: 8px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 11px;
  }
}

// CHECKBOX

.form__checkbox {
  display: none;
}

.form__checkbox + .form__label {
  cursor: pointer;
  color: #000000;
}

.form__checkbox + .form__label::before {
  content: "";
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 16px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.form__checkbox:checked + .form__label::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/check.svg") no-repeat center;
  background-size: 60%;
}

.form__additional {
  padding-top: 34px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 81px;
  }
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
    column-gap: 80px;
  }
}

.form__submit {
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
    max-width: 282px;
    // width: 45%; // ???
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 1;
    max-width: 568px;
  }
}

.form__caption {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  white-space: nowrap;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}

.form__contacts {
  padding-top: 35px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__comments {
  padding-top: 38px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}
