.form {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }
}

.form.container {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__title {
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
  }
}

.form__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form abbr {
  text-decoration: none;
}

.form legend {
  width: 100%;
}

.form__fieldset {
  padding: 0;
  border: none;
  margin: 0;
  // padding-top: 76px;
  // padding-bottom: 67px;
  // border: 1px solid rgb(29, 138, 49);
}

.form__main {
  padding-top: 39px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
    padding-bottom: 73px;
    row-gap: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 71px;
    row-gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

// GROUP

.form__group {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;

  &:not(:first-child) {
    margin-top: 14px;
  }

  @media (min-width: @tablet-width) {
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
}

// LABEL

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
  padding-right: 13px;
  white-space: nowrap;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding-right: 20px;
  }
}

// INPUT

.form__input,
.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px 14px;
  width: 100%;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    box-shadow: 0 0 0 1px #444444;
    outline: none;
  }

  &--error {
    border-color: #ff8282;
    box-shadow: 0 0 0 1px #ff8282;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding: 11px 19px;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: #444444;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}


.form__input--icon {
  padding-right: 50px;
}

.form__input + svg {
  position: absolute;
  right: 20px;
  fill: #222222;
  stroke: #222222;
}

.form__input:focus + svg {
  fill: @color_green;
  stroke: @color_green;
}

.form__input--error + svg {
  fill: #ff8282;
  stroke: #ff8282;
}

.form__textarea {
  resize: none;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 174px;
  }
}

// RADIO

.form__fieldset-radio {
  @media (max-width: @mobile-width-only) {
    padding-top: 24px;
    padding-bottom: 20px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #d9d9d9;
    }

    &::before {
      margin-top: -24px;
    }

    &::after {
      margin-top: 17px;
    }
  }

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
}

.form__fieldset-radio .form__group {
  &:not(:first-child) {
    margin-top: 13px;
  }
}

.form__radio + .form__label {
  cursor: pointer;
  color: #222222;
}

.form__radio + .form__label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.form__label:hover::before,
.form__radio:focus + .form__label::before {
  border: 1px solid #bababa;
}

.form__radio:checked + .form__label::after,
.form__radio:focus + .form__label::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background-color: @color_green;
  position: absolute;
  left: 8px;
  top: 8px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 11px;
  }
}

.form__radio:disabled + .form__label {
  opacity: 0.3;
}

// CHECKBOX

.form__checkbox {
  & + .form__label {
    cursor: pointer;
    color: #000000;
  }

  & + .form__label::before {
    content: "";
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-right: 16px;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 19px;
    }
  }

  &:hover + .form__label::before {
    border: 1px solid #bababa;
  }

  &:checked + .form__label::before,
  &:focus + .form__label::before {
    content: "";
    display: inline-block;
    background: url("../img/form/check.svg") no-repeat center;
    background-size: 60%;
  }

  &:disabled + .form__label {
    opacity: 0.3;
  }
}

// ADDITIONAL

.form__additional {
  padding-top: 22px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 81px;
  }
}

.form__additional .form__group:not(:first-child) {
  margin-top: 12px;
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 87px;
    column-gap: 80px;
  }
}

.form__submit {
  width: 100%;

  @media (min-width: @tablet-width) {
    max-width: 282px;
  }

  @media (min-width: @desktop-width) {
    max-width: 568px;
  }
}

.form__caption {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  white-space: nowrap;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}

.form__contacts {
  padding-top: 24px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__contacts .split-title::after {
  margin-top: -17px;

  @media (min-width: @tablet-width) {
    margin-top: 8px;
  }
}

.form__comments {
  padding-top: 36px;
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}
