.cta {
  display: grid;
  place-items: center;
  background: url("../img/cta/bg-cta-mobile.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 35px 0;
  height: 290px;
  padding: 59px 58px 43px 58px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: fade(@color_green, 85%);
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/cta/bg-cta-mobile@2x.jpg") no-repeat center;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background: url("../img/cta/bg-cta-tablet.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
    padding: 57px 124px 60px 77px;
    margin-top: 69px;
    margin-bottom: 76px;
  }

  @media (min-width: @tablet-width) and (min-resolution: 2dppx) {
    background: url("../img/cta/bg-cta-tablet@2x.jpg") no-repeat center;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    background: url("../img/cta/bg-cta-mobile.jpg") no-repeat center;
    background-size: cover;
    height: 290px;
    padding: 56px 41px 42px 41px;
    max-width: 245px;
    margin: 0;
  }

  @media (min-width: @desktop-width) and (min-resolution: 2dppx) {
    background: url("../img/cta/bg-cta-mobile@2x.jpg") no-repeat center;
    background-size: cover;
  }
}

.cta__text-wrapper {
  position: relative;
  text-align: center;
  margin: 0;

  &::before {
    content: url("../img/cta/cta-icon.svg");
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;

    &::before {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    display: block;

    &::before {
      margin: 0 auto;
    }
  }
}


.cta__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-top: 48px;

  @media (min-width: @tablet-width) {
    max-width: 160px;
    padding: 0;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    max-width: initial;
    padding-top: 46px;
    text-align: center;
  }
}
