.container {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
  }
}
