.container {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    border: 1px solid rgb(26, 16, 178);
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1220px;
    border: 1px solid rgb(138, 23, 23);
    margin: 0 auto;
  }
}
